body {
  background: white url("images/back.jpg");
} 

.base_body{
  background: white url("images/back2.jpg");
}

.login_header {
  margin-bottom: 25px;
}

.album_panel {
  margin-left: 20.833%;
  text-align: center;
  margin-top: 5%;  
}

.login_panel {
  margin-left: 33%;
  text-align: center;
  margin-top: 5%;
}

ul.errorlist {
  padding-left: 0;
}

ul.errorlist > li {
  list-style: none;
}

.navbar {
  border-radius: 0;
}

.navbar-brand {
  font-family: 'Satisfy', cursive;
}

.glyphicon-star {
  color: #CCCCCC;
  font-size: 16px;
}

.glyphicon-star.active {
  color: #FDB230;
}
