{% extends 'engine/navbar.html' %}
{% block charts_active %}active{% endblock %}

{% block body %}
<h3 style = "color : white; margin-left: 10px">Top Artists in India: Music Stream</h3><br>
  {% for artist in india_charts %}
      <div class="col-sm-4 col-lg-2">
          <div class="thumbnail">
              <a href="{{ artist.url }}" target="_blank">
                  <img src="{{artist.image}}" class="img-responsive">
              </a>
              <div class="caption">
                  <h2>{{ artist.name }}</h2>
                  <h4>Listeners: {{ artist.listeners }}</h4>

                  <a href="{{ artist.url }}" class="btn btn-primary btn-sm" target="_blank" role="button">Listen on Last.FM</a>

              </div>
          </div>
      </div>
      {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
  {% endfor %}

    <div class="col-lg-10" style="margin-left: 8.1%">
      <div class="panel panel-default">
        <div class="panel-body">

          <h3>Top Tracks in India</h3>
          <table class="table">
            <thead>
              <tr>
                <th>Song</th>
                <th>Play</th>
              </tr>
            </thead>
            <tbody>
              {% for track in india_tracks %}
                <tr>
                  <td>{{ track.name }}</td>
                  
                  <td>
                    <a href="{{ track.url }}" target="_blank">
                      <button type="button" class="btn btn-success btn-xs" id= "{{ track.name }}">
                        <span class="glyphicon glyphicon-play"></span>&nbsp; Play
                      </button>
                    </a>
                  </td>    
                  <td>
                    Listeners: {{ track.listeners }}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
  
{% endblock %}