{% extends 'engine/navbar.html' %}
{% block title %}{{ album }}{% endblock %}
{% block albums_active %}active{% endblock %}

{% block body %}
<div class="container-fluid songs-container">
    <div class="row">
      <div class="col-sm-4 col-md-3">
          <div class="panel panel-default">
              <div class="panel-body">
                  <a href="{% url 'engine:detail' album.id %}">
                      {% if album.album_logo %}
                          <img src="{{ album.album_logo.url }}" class="img-responsive">
                      {% else %}
                          <h3>No image to display</h3>
                      {% endif %}
                  </a>
                  <h1>{{ album.album_title }} <small>{{ album.genre }}</small></h1>
                  <h2>{{ album.artist }}</h2>
              </div>
          </div>
      </div>        


      <div class="col-sm-8 col-md-9">
        <ul class="nav nav-pills" style="margin-bottom: 10px;">
          <li role="presentation" class="active"><a href="{% url 'engine:detail' album.id %}">View All</a></li>
          <li role="presentation"><a href="{% url 'engine:create_song' album.id %}">Add New Song</a></li>
          <li role="presentation"><a href="{% url 'engine:create_video' album.id %}">Add New Video</a></li>        
        </ul>

        <div class="panel panel-default">
          <div class="panel-body">

            <h3>All Songs</h3>
            <table class="table">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Audio File</th>
                  <th>Favorite</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for song in album.song_set.all %}
                  <tr>
                    <td>{{ song.song_title }}</td>
                    
                    <td>
                      <a href="{{ song.audio_file.url }}" onclick="playAudio(event, this, '{{ song.song_title }}')" target="_blank">
                        <button type="button" class="btn btn-success btn-xs" id= "{{ song.song_title }}">
                          <span class="glyphicon glyphicon-play"></span>&nbsp; Play
                        </button>
                      </a>
                    </td>
                    
                    <td>
                      <a href="{% url 'engine:favoriteSong' song.id %}" class="btn-favorite"><span class="glyphicon glyphicon-star {% if song.is_favorite %}active{% endif %}"></span></a>
                    </td>
                    <td>
                      <form action="{% url 'engine:delete_song' album.id song.id %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <input type="hidden" name="song_id" value="{{ song.id }}" />
                        <button type="submit" class="btn btn-danger btn-xs">
                          <span class="glyphicon glyphicon-remove"></span>&nbsp; Delete
                        </button>
                      </form>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
    
          <div class="panel panel-default">
            <div class="panel-body">

              <h3>All Videos</h3>
              <table class="table">
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>Video File</th>
                    <th>Favorite</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  {% for video in album.video_set.all %}
                    <tr>
                      <td>{{ video.video_title }}</td>
                      <td>
                        <a target="_blank" href="{{ video.video_file.url }}">
                          <button type="button" class="btn btn-success btn-xs">
                            <span class="glyphicon glyphicon-play"></span>&nbsp; Play
                          </button>
                        </a>
                      </td>
                      <td>
                        <a href="{% url 'engine:favoriteVideo' video.id %}" class="btn-favorite"><span class="glyphicon glyphicon-star {% if video.is_favorite %}active{% endif %}"></span></a>
                      </td>
                      <td>
                        <form action="{% url 'engine:delete_video' album.id video.id %}" method="post" style="display: inline;">
                          {% csrf_token %}
                            <input type="hidden" name="song_id" value="{{ video.id }}" />
                            <button type="submit" class="btn btn-danger btn-xs">
                              <span class="glyphicon glyphicon-remove"></span>&nbsp; Delete
                            </button>
                        </form>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
    
      
    </div>
</div>

{% endblock %}
