{% extends 'engine/navbar.html' %}
{% block albums_active %}active{% endblock %}

{% block body %}
<div class="albums-container container-fluid">

    <div class="row">
        <div class="col-sm-12">
            <h3 style = "color : white">{{ user.username }}'s Albums</h3><br>
        </div>
        {% if albums %}
            {% for album in albums %}
                <div class="col-sm-4 col-lg-2">
                    <div class="thumbnail">
                        <a href="{% url 'engine:detail' album.id %}">
                            <img src="{{ album.album_logo.url }}" class="img-responsive">
                        </a>
                        <div class="caption">
                            <h2>{{ album.album_title }}</h2>
                            <h4>{{ album.artist }}</h4>

                            <a href="{% url 'engine:detail' album.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>

                            <form action="{% url 'engine:delete_album' album.id %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="album_id" value="{{ album.id }}" />
                                <button type="submit" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </form>

                            <a href="{% url 'engine:favorite_album' album.id %}" class="btn btn-default btn-sm btn-favorite" role="button">
                                <span class="glyphicon glyphicon-star {% if album.is_favorite %}active{% endif %}"></span>
                            </a>

                        </div>
                    </div>
                </div>
                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}              
          {% else %}
              <div class="col-sm-12">
                  <br>
                  <a href="{% url 'engine:create_album' %}">
                      <button type="button" class="btn btn-success">
                          <span class="glyphicon glyphicon-plus"></span>&nbsp; Add an Album
                      </button>
                  </a>
              </div>
          {% endif %}
      </div>

</div>

{% endblock %}
