<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>{% block title %}MediaHound{% endblock %}</title>
      {% load staticfiles %}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" type="text/css" href="{% static 'engine/style.css' %}"/>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <script src="{% static 'engine/js/script.js' %}"></script>
      <script>
        
        // var audio = document.createElement("audio");
        // var src = document.createElement("source");
        // 
        // function playAudio(e, link, btnID) {
        //   console.log(btnID);
        //   var elem = document.getElementById(btnID);
        //   var replacement = elem.innerHTML;
        // 
        //   if(replacement.indexOf("Play") !== -1) {
        //     src.src = link.href;
        //     console.log(src.src);
        //     audio.appendChild(src);
        // 
        //     console.log("Playing");
        //     replacement = replacement.split("play").join("pause").split("Play").join("Pause");
        //     audio.play();
        //     e.preventDefault();
        // 
        //   }
        //   else {
        //     console.log("Pausing");
        //     replacement = replacement.split("pause").join("play").split("Pause").join("Play");       
        //     audio.pause();
        //     e.preventDefault();
        //   }
        //   elem.innerHTML = replacement;
        // }
      </script>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'engine:index' %}">MediaHound</a>
            </div>

            <div class="collapse navbar-collapse" id="topNavBar">
                <ul class="nav navbar-nav">
                    <li class="{% block albums_active %}{% endblock %}"><a href="{% url 'engine:index' %}"><span class="glyphicon glyphicon-cd" aria-hidden="true"></span>&nbsp; Albums</a></li>
                    <li class="{% block songs_active %}{% endblock %}"><a href="{% url 'engine:songs' 'all' %}"><span class="glyphicon glyphicon-music" aria-hidden="true"></span>&nbsp; Songs</a></li>
                    <li class="{% block videos_active %}{% endblock %}"><a href="{% url 'engine:videos' 'all' %}"><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>&nbsp; Videos</a></li>
                    <li class="{% block charts_active %}{% endblock %}"><a href="{% url 'engine:charts' %}"><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span>&nbsp; Charts</a></li>                
                </ul>
                <form class="navbar-form navbar-left" role="search" method="get" action="{% url 'engine:index' %}">
                    <div class="form-group">
                        <input type="text" class="form-control" name="q" value="{{ request.GET.q }}">
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
                </form>


                      
                <ul class="nav navbar-nav navbar-right">
                    <li>

                        <a href="{% url 'engine:create_album' %}">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Add Album
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'engine:logout_user' %}">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
                        </a>
                    </li>
                </ul>
                      
            </div>

        </div>
    </nav>
  {% block body %}
  {% endblock %}
  </body>
</html>
